html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.subtext {
    font-size: 18px;
    margin: 0;
}

/* Header Classes */
.header {
    width: 100%;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0% 10%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* Hero Classes */
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 0;
}

.hero img {
    flex: 0 1 auto;
}

.herotext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;
}

.herotext .maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex: 1;
    margin: 0;
}

.herotext .calltoaction {
    color: #E5E7EB;
    background-color: #3882f6;
}

.herotext .subtext {
    color: #E5E7EB;
    flex: 1;
}